.landing-page-wrapper{
  width: 100%;
  height: 100vh;
}

header{
  position: absolute;
  z-index: 10;
  top: 0;
  background: #FF206E;
  width: 100%;
  height: 80px;
}

.me-wrapper{
  padding: 0px;
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px auto;
}

.me-header{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  background-size: cover;
  border: 5px solid #fff;
}

nav{
    position: absolute;
    top: 0px;
    height: 50px;
    text-align: center;
}
.nav-left{
    left: calc(50% - 330px);
}

.nav-right{
    right: calc(50% - 290px);
}

.nav-item{
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-size: 1.3em;
    color: #fff;
    border: 1px solid #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: none;
    text-align: center;
    width: 80px;
}

.nav-item:hover{
   background: #fff;
   color: #FF206E;
}

.name-wrapper{
  height: 100vh;
  background: #fff;
}

.name{
  position: absolute;
  top: 40%;
  left: 50px;
  font-size: 6vw;
  font-family: 'Sedgwick Ave';
  color: #222;

}

.name h1{
  margin: 0;
}

.name h3{
  font-size: 0.5em;
  font-family: 'Roboto';
  margin: 0;
}


.hamburger{
	position: fixed;
  z-index: 10;
	width: 50px;
	height: 50px;
	right: 30px;
	top: 10px;
  cursor: pointer;
}

.hb{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 60%;
	height: 2px;
	background: #0c0f0a;
}

.hb:before, .hb:after{
  content: '';
  width: 100%;
  height: 2px;
  background: #0c0f0a;
  position: absolute;
  transition: .5s;
}

.hb:before{
  top: -12px;
}

.hb:after{
  top: 12px;
}

.hamburger.active .hb {
  background: rgba(0,0,0,0);
}

.hamburger.active .hb:before{
  top: 0;
  transform: rotate(45deg);
} 

.hamburger.active .hb:after{
  top: 0;
  transform: rotate(135deg);
} 

.mobile-menu{
  position: fixed;
  display: none;
  height: 100vh;
  width: 30%;
  background: #FF206E;
  right: 0;
  top: 80px;
}

.menu-items-wrapper{
    letter-spacing: 5px;
    color: #fff;
    font-family: 'Roboto';
    font-size: 30px;
}

.menu-item{
  margin-bottom: 15%;
  text-align: center;
  padding: 30px;
}

.menu-item:hover{
  background: #41ead4;
  cursor: pointer;
}

.logo{
  text-align: center;
  width: 100%;
  padding-top: 100px;

}

.me{
  line-height: 50px;
  position: absolute;
  left: 50px;
  top: 0px;
  color: #fff;
  font-family: 'Roboto Condensed';
  font-size: 40px;
}

.me p{
  margin: 0;
}

.title-wrapper{
	margin: auto;
	text-align: center;
	display: inline-block;
}

.title{
	display: inline-block;
	font-size: 10vw;
	color: #222;
	vertical-align: middle;
  font-size: 5em;
  font-family: 'Nothing You Could Do', arial, serif;
  margin-left: 125px;
}

/*  Heart  */
.heart-wrapper{
  position: absolute;
  margin-right: 65px;
  margin-top: -10px;
  display: inline-block;
}

.bottom {
  height: 0;
  width: 0;
  margin-top: -3px;
  border-top: 50px solid #FF206E;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  border-bottom: 50px solid transparent;
  animation: pulseBottom 1s infinite;
}

.top-left {
  display: inline-block;
  height: 0;
  width: 0;
  border-bottom: 25px solid #FF206E;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  border-top: 25px solid transparent;
  animation: pulseLeft 1s infinite;
}
.top-right {
  display: inline-block;
  height: 0;
  width: 0;
  margin-left: -3px;
  border-bottom: 25px solid #FF206E;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  border-top: 25px solid transparent;
  animation: pulseLeft 1s infinite;
}

@keyframes pulseBottom{
  93%{
    border-top: 50px solid #FF206E;
  }
  100%{
    border-top: 100px solid #FF206E;
  }
}

@keyframes pulseLeft{
  94%{
    border-bottom: 25px solid #FF206E;
  }
  100%{
    border-bottom: 50px solid #FF206E;
  }
}

@keyframes pulseRight{
  95%{
    border-bottom: 25px solid #FF206E;
  }
  100%{
    border-bottom: 50px solid #FF206E;
  }
}

@media only screen and (max-width: 745px){
.nav-right, .nav-left{
    display: none;
  }
}


@media only screen and (max-width: 645px){
  .menu-items-wrapper{
    font-size: 20px;
  }
}

@media only screen and (max-width: 608px){
  .tab{
    font-size: 2em;
  }
}

@media only screen and (max-height: 500px){
  .tab{
    bottom: auto;
  }
}

@media only screen and (max-width: 475px){
  .tab{
    padding: 10px 30px;
    font-size: 2em;
  }
}

@media only screen and (max-height: 570px){
  .menu-item{
    padding: 0px;
  }
}

@media only screen and (max-width: 410px){
  .tab{
    padding: 10px 20px;
    font-size: 2em;
  }
}

@media only screen and (max-width: 320px){
  .tab{
    padding: 10px 10px;
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 235px){
  .tab{
    padding: 10px 0px;
    font-size: 1em;
  }
}

@media only screen and (max-device-width: 745px) and (max-device-height: 420px){
  .tab{
      bottom: auto;
    }
}

@media only screen and (max-device-width: 608px) and (max-device-height: 420px){
  .tab{
      bottom: auto;
    }
}

@media only screen and (max-width: 515px){
  .menu-items-wrapper{
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 415px){
  .menu-items-wrapper{
    font-size: 1em;
  }
}

@media only screen and (max-width: 315px){
  
  .me-wrapper{
    width: 80px;
    height: 80px;
    margin: auto;
  }

  .me-header{
    width: 80px;
    height: 80px;
  }

  .bottom {
    border-top: 25px solid #ff206e;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    border-bottom: 25px solid transparent;
    animation: none;
  }

  .top-left {
    border-bottom: 12.5px solid #ff206e;
    border-right: 12.5px solid transparent;
    border-left: 12.5px solid transparent;
    border-top: 12.5px solid transparent;
    animation: none;
  }
  .top-right {
    border-bottom: 12.5px solid #ff206e;
    border-right: 12.5px solid transparent;
    border-left: 12.5px solid transparent;
    border-top: 12.5px solid transparent;
    animation: none;
  }

  .title{
    margin-left: 75px;
    margin-top: -10px;
    font-size: 3em;
  }
}

@media only screen and (max-width: 255px){
  .me-wrapper{
    display: none;
  }
}

@media only screen and (max-width: 200px){
  .title{
    margin-left: 50px;
    margin-top: -1px;
    font-size: 2em;
  }
}
