header{
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 50px;
  background: #2F2E33;
}

.hamburger{
	position: absolute;
  z-index: 10;
	width: 50px;
	height: 50px;
	right: 30px;
	top: 0px;
  cursor: pointer;
}

.hb{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 60%;
	height: 2px;
	background: #fff;
}

.hb:before, .hb:after{
  content: '';
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: .5s;
}

.hb:before{
  top: -12px;
}

.hb:after{
  top: 12px;
}

.hamburger.active .hb {
  background: rgba(0,0,0,0);
}

.hamburger.active .hb:before{
  top: 0;
  transform: rotate(45deg);
} 

.hamburger.active .hb:after{
  top: 0;
  transform: rotate(135deg);
} 

.mobile-menu{
  position: relative;
  display: none;
  height: 100vh;
  width: 30%;
  background: #2F2E33;
  float: right;
}

.menu-items-wrapper{
    letter-spacing: 5px;
    color: #fff;
    font-family: 'Roboto';
    font-size: 30px;
}

.menu-item{
  margin-bottom: 15%;
  text-align: center;
  padding: 30px;
}

.menu-item:hover{
  background: #3A5199;
  cursor: pointer;
}

.home{
  margin-top: 50px;
}

.landing-page-wrapper{
  background: linear-gradient( rgba(58, 81, 153, 0.68), rgba(58, 81, 153, 0.6) ), url(../images/resize.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.logo{
  text-align: center;
  width: 100%;
  padding-top: 100px;

}

.me{
  line-height: 50px;
  position: absolute;
  left: 50px;
  top: 0px;
  color: #fff;
  font-family: 'Roboto Condensed';
  font-size: 2.5em;
}

.me p{
  margin: 0;
}

.title-wrapper{
	margin: auto;
	text-align: center;
	display: inline-block;
}

.title{
	display: inline-block;
	font-size: 10vw;
	color: #fff;
	vertical-align: middle;
  font-size: 5em;
  font-family: 'Nothing You Could Do', arial, serif;
  margin-left: 125px;
}

/*  Heart  */
.heart-wrapper{
  position: absolute;
  margin-right: 65px;
  margin-top: -10px;
  display: inline-block;
}

.bottom {
  height: 0;
  width: 0;
  margin-top: -3px;
  border-top: 50px solid #BF0404;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  border-bottom: 50px solid transparent;
  animation: pulseBottom 1s infinite;
}

.top-left {
  display: inline-block;
  height: 0;
  width: 0;
  border-bottom: 25px solid #BF0404;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  border-top: 25px solid transparent;
  animation: pulseLeft 1s infinite;
}
.top-right {
  display: inline-block;
  height: 0;
  width: 0;
  margin-left: -3px;
  border-bottom: 25px solid #BF0404;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  border-top: 25px solid transparent;
  animation: pulseLeft 1s infinite;
}

.tab{
  position: absolute;
  bottom: 100px;
  color: white;
  font-size: 3em;
  font-family: 'Roboto';
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.4);
  padding: 20px 100px;
}

@keyframes pulseBottom{
  93%{
    border-top: 50px solid #BF0404;
  }
  100%{
    border-top: 100px solid #BF0404;
  }
}

@keyframes pulseLeft{
  94%{
    border-bottom: 25px solid #BF0404;
  }
  100%{
    border-bottom: 50px solid #BF0404;
  }
}

@keyframes pulseRight{
  95%{
    border-bottom: 25px solid #BF0404;
  }
  100%{
    border-bottom: 50px solid #BF0404;
  }
}

@media only screen and (max-width: 608px){
  .tab{
    font-size: 2em;
  }

  .menu-items-wrapper{
    font-size: 20px;
  }
}

@media only screen and (max-height: 500px){
  .tab{
    bottom: auto;
  }
}

@media only screen and (max-width: 475px){
  .tab{
    padding: 10px 30px;
    font-size: 2em;
  }
}

@media only screen and (max-height: 570px){
  .menu-item{
    padding: 0px;
  }
}

@media only screen and (max-width: 410px){
  .tab{
    padding: 10px 20px;
    font-size: 2em;
  }
}

@media only screen and (max-width: 320px){
  .tab{
    padding: 10px 10px;
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 235px){
  .tab{
    padding: 10px 0px;
    font-size: 1em;
  }
}

@media only screen and (max-device-width: 745px) and (max-device-height: 420px){
  .tab{
      bottom: auto;
    }
}

@media only screen and (max-device-width: 608px) and (max-device-height: 420px){
  .tab{
      bottom: auto;
    }
}

@media only screen and (max-width: 515px){
  .menu-items-wrapper{
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 415px){
  .menu-items-wrapper{
    font-size: 1em;
  }
}

@media only screen and (max-width: 315px){
  .bottom {
    border-top: 25px solid #B52016;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    border-bottom: 25px solid transparent;
    animation: none;
  }

  .top-left {
    border-bottom: 12.5px solid #B52016;
    border-right: 12.5px solid transparent;
    border-left: 12.5px solid transparent;
    border-top: 12.5px solid transparent;
    animation: none;
  }
  .top-right {
    border-bottom: 12.5px solid #B52016;
    border-right: 12.5px solid transparent;
    border-left: 12.5px solid transparent;
    border-top: 12.5px solid transparent;
    animation: none;
  }

  .title{
    margin-left: 75px;
    margin-top: -10px;
    font-size: 3em;
  }
}

@media only screen and (max-width: 200px){
  .title{
    margin-left: 50px;
    margin-top: -1px;
    font-size: 2em;
  }
}
