.row{
	position: relative;
}

.portfolio-wrapper{
	position: relative;
	background: linear-gradient( rgba(233, 233, 234, 0.9), rgba(235, 235, 235, 0.9) ), url(../images/wb.jpg);
    background-size: cover;
    background-position: 20%;
}

.portfolio-header, .skills-header, .contact-header{
	width: 100%;
	height: 50px;
	background: #2F2E33;
	position: static;
	margin-top: -32px;
}

.portfolio-title, .skills-title, .contact-title{
	color: #fff;
	text-align: left;
	font-size: 2em;
	font-family: 'Roboto Condensed';
	line-height: 50px;
	padding-left: 30px;
}

.port-container{
	padding: 100px 10px;
	overflow: auto; 
	margin: auto;

}

.top{
	background: #C4F2D8;
}

.middle{
	background: #fff;
}

.last{
	background: #C4EEF2;
}

.sh-wrapper{
	text-align: center;
}

.screenshot{
	width: 100%;
	display: inline-block;
	background-size: cover;	
}

.screenshot:hover{
	filter: brightness(0.5);
}

.dish{
	background-image: url('./images/dishiq.png');
}

.netflix{
	background-image: url('./images/netflixj.png');
}

.gp{
	background-image: url('./images/gamepiazza.png');
}

.description-container{
	position: relative;
}

.description{
	margin: 0;
	text-align: left;
	color: #222;
	font-size: 23px;
	font-family: 'Roboto Condensed';
	padding: 30px;
}

.description-container{
	position: relative;
	min-height: 400px;
}

.description-absolute{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.technologies-wrapper{
	margin: 50px auto;
	max-width: 500px;
	font-family: 'Roboto Condensed';
	font-size: 15px;
	text-align: center;
}

.technologies{
	display: inline-block;
	margin: 1px;
	max-width: 100px;	
	background: #3A5199;
	padding: 10px 15px;
	border-radius: 10px;
	font-family: 'Roboto Condensed';
	color: #fff;
	cursor: pointer;
}

.technologies:active{
	background: #EE3124;
}

@media only screen and (max-width: 860px) {
	.port-container.top{
		padding-top: 100px;
	}

	.port-container{
		padding: 50px 10px;
	}

	.description-absolute{
		position: static;
		transform: none;
	}

	.description-container{
		min-height: 30px;
	}

	.description{
		font-size: 20px;
	}

	.technologies-wrapper{
		max-width: 80%;
		margin: auto;
	}

	.screenshot{
		width: 45%;
	}
}

@media only screen and (max-width: 860px) {
	.port-container{
		position: static;
		transform: none;
	}
}

@media only screen and (max-width: 750px) {
	.screenshot{
		width: 50%;
	}
}

@media only screen and (max-width: 650px) {
	.screenshot{
		width: 60%;
	}
}

@media only screen and (max-width: 650px) {
	.description{
		font-size: 15px;
	}

	.technologies{
		font-size: 12px;
		padding: 10px 15px;
	}
}

@media only screen and (max-width: 550px) {
	.screenshot{
		width: 70%;
	}

	.technologies-wrapper{
		padding: 0;
	}
}

@media only screen and (max-width: 480px) {
	.screenshot{
		width: 80%;
	}
}