.vid-wrapper{
	width: 50%;
	margin: 10% auto;
}

.spHome {
	min-width: 10%;
    min-height: 50px;
    display: block;
    margin: auto;
    color: #fff;
    border-style: none;
    border: 2px solid red;
    background: #FF206E;
    cursor: pointer;
}

.spContact{
	width: 50%;
	margin: auto;
}

.spotify{
    z-index: 9;
    font-family: 'Roboto';
    position: absolute;
    right: 50px;
    background: #65D26F;
    border: 2px solid limegreen;
    border-radius: 50%;
    text-align: center;
    min-height: 100px;
    min-width: 100px;
    width: 150px;
    height: 150px;
    padding: 15px;
}