.row{
	position: relative;
}

.portfolio-wrapper{
	position: relative;
    background-size: cover;
    background-position: 20%;
}

.port-container{
	padding: 100px 10px;
	overflow: auto; 
	margin: auto;

}

.top{
	background: #eee;
}

.middle{
	background: #fff;
}

.last{
	background: #fff;
}

.sh-wrapper{
	text-align: center;
}

.screenshot{
	width: 100%;
	display: inline-block;
	background-size: cover;	
}

.screenshot:hover{
	filter: brightness(0.5);
}

.dish{
	background-image: url('../images/dishiq.png');
}

.netflix{
	background-image: url('../images/netflix.png');
}

.gp{
	background-image: url('../images/gamepiazza.png');
}

.project-title{
	margin-top: 40px;
	text-align: center;
}

.project-title a{
    font-size: 35px;
    text-align: center;
    font-family: 'Raleway';
    color: #0c0f0a;
}

.border{
	width: 50%;
	height: 1px;
	background: #ccc;
	margin: auto;
}

.description-container{
	position: relative;
}

.description{
	margin: 0;
	text-align: center;
	color: #222;
	font-size: 20px;
	font-family: 'Poppins';
	padding: 30px;
}

.description-container{
	position: relative;
	min-height: 400px;
	text-align: center;
}

.description-absolute{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.technologies-wrapper{
	display: inline-block;
	margin: 50px auto;
	max-width: 500px;
	font-family: 'Roboto Condensed';
	font-size: 15px;
	text-align: center;
}

.top{
	clip-path: polygon(0 0, 100% 5%, 100% 85%, 0% 100%);
}

.top-desc-cont{
	margin-bottom: 100px;
}

.technologies{
	display: inline-block;
	margin: 1px;
	background: #ff206e;
	padding: 10px 15px;
	border-radius: 10px;
	font-family: 'Roboto Condensed';
	color: #fff;
	cursor: pointer;
}

.technologies:active{
	background: #41EAD4;
}

@media only screen and (max-width: 860px) {
	.port-container.top{
		padding-top: 100px;
	}

	.port-container{
		padding: 50px 10px;
	}

	.description-absolute{
		position: static;
		transform: none;
	}

	.description-container{
		min-height: 30px;
	}

	.description{
		font-size: 20px;
	}

	.technologies-wrapper{
		max-width: 80%;
		margin: auto;
	}

	.screenshot{
		width: 45%;
	}
}

@media only screen and (max-width: 860px) {
	.port-container{
		position: static;
		transform: none;
	}
}

@media only screen and (max-width: 750px) {
	.screenshot{
		width: 50%;
	}
}

@media only screen and (max-width: 650px) {
	.screenshot{
		width: 60%;
	}
}

@media only screen and (max-width: 650px) {
	.description{
		font-size: 15px;
	}

	.technologies{
		font-size: 12px;
		padding: 10px 15px;
	}
}

@media only screen and (max-width: 550px) {
	.screenshot{
		width: 70%;
	}

	.technologies-wrapper{
		padding: 0;
	}

	.description{
		padding: 10px 30px;
	}

	.project-title{
		font-size: 25px;
	}

	.project-title a{
		font-size: 25px;
	}
}

@media only screen and (max-width: 480px) {
	.screenshot{
		width: 80%;
	}
}