
.skills-container{
	margin: 100px auto 150px auto;
	width: 80%;
	padding: 40px;
	border-radius: 5px;
}

.skills-wrapper{
	position: relative;
	clip-path: polygon(0 0, 100% 5%, 100% 95%, 0% 100%);
	padding: 100px 0;
	background: #76E4ED;
	/*15e6ff*/
}

.skillbox{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 10px;
	font-family: 'Poppins';
}

.skillbox span{
	align-self: center;
}

.skill{
	width: 80%;
	position: relative;
	background: #444;
	padding: 4px;
	border: 1px solid #0fffb7;
	border-radius: 2px;
}

.skill_level{
	background: #0fffb7;
	height: 15px;
}

.skillAnimate{
	animation: anim 1500ms ease-out;
}

.percent{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
	color: #fff;
	text-transform: uppercase;
	margin: 0;
	font-weight: 400;
	padding: 0 10px 0 10px;
	letter-spacing: 1px;
	animation: percOpac 2.5s;
}

.bg-vid-container{
	position: absolute;
	bottom: 0;
	left: 0;
}

.working-hard{
	font-family: 'Roboto Condensed';
    padding: 0 0 10px 5px;
    font-size: 1.8em;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.vid{
	filter: grayscale(1);
    max-width: 300px;
    opacity: 0.3;
    display: block;
}

@keyframes percOpac{
	0% {
		opacity: 0;
	}
	60%{
		opacity: 0;
	}
	80%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}



@keyframes anim{
	0%{
		width: 0%;
	}
	60% {
		width: 100%;
	}
	80%{
		width: 0%;
	}
	90%{
		width: 40%;
	}
}


@media only screen and (max-width: 730px){
  .skillbox{
    display: block;
  }
}


@media only screen and (max-width: 500px){
  .skills-container{
    width: 100%;
  }
}
