.vid-wrapper{
	width: 50%;
	margin: 10% auto;
}

.spHome {
	min-width: 10%;
    min-height: 50px;
    display: block;
    margin: auto;
    color: #fff;
    border-style: none;
    border: 2px solid red;
    background: #FF206E;
    cursor: pointer;
}

.spContact{
	width: 50%;
	margin: auto;
}